
#portrait {
    max-width: 100%;
    padding: 5%;
}

body {
    background-color: #e5e5e7;
}

div {
    background-color: white;
}

#center {
    height: auto;
}

#nav {
    text-decoration: none; 
    color: #530000;
    font-size: 1.5vmax;
}

#nav:hover {
    color: #c2a5a5;
}

#nav_sub {
    text-decoration: none; 
    color: #530000;
    font-size: 1vmax;
}

#nav_sub:hover {
    color: #c2a5a5;
}

#dropdown {
    padding-left: 5%;
}
