/*
master color 1: #530000
master color 2: #c2a5a5
*/
#portrait {
    max-width: 100%;
    padding: 5%;
}

body {
    background-color: #c2a5a5;
    font-family: "Bookman Old Style"
}

div {
    background-color: white;
}

#center {
    margin-top: 50px;
}

#nav {
    text-decoration: none; 
    color: #530000;
    font-size: 1.5vmax;
}



#nav_sub {
    text-decoration: none; 
    color: #530000;
    font-size: 75%;
}

#nav_sub:hover {
    color: #c2a5a5;
}

#dropdown {
    padding-left: 5%;
}

#name {
    height: 50%;
}

#section_header {
    height: 50%;
    border-bottom: solid 1px;
    border-bottom-color: #c2a5a5;
    color: #530000;
    position: relative;
}

#s_h_text {
    font-size: 4vmax;
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 0;
}

#school_container {
    background: #530000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #530000, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #530000, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #530000, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #530000, #ffffff); /* Standard syntax */
    position: relative; 
    height: 3.5vmax;
}

#school {
    font-size: 2.5vmax;
    position: absolute;
    height: 97%; 
    background-color: #ffffff;
    width: 100%;
}

#information {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#info_title {
    font-size: 2vmax;
    font-style: italic;
}

#info {
    list-style-type: none;
}

#orgs {
    list-style-type: none;
}

ul.education {
    font-size: 1.2vmax;
    border-left: solid 5px #530000;
}

ul.education li {
    padding: 5px;
}

#awards {
    list-style-type: none;
}

#courses {
    list-style-type: none;
}

#top {
    min-height:10vmax;
}

#top_text {
    min-height: 5vmax;
}
.course_item:hover{
    background-color: #530000;
    color: #ffffff;
    cursor: pointer;
    
}
.hide{
    display: none;
}

.li_nav {
    text-decoration: none;
    border-bottom: 3px solid transparent;    
    transition: 0.5s ease;
    width: 0px;
    white-space: nowrap;
    text-decoration: none; 
    color: #530000;
    font-size: 1.5vmax;
}


.li_nav:hover {
    border-bottom: 3px solid #c2a5a5;
    width: 100%;
    cursor: pointer;
}

#title_container {
    background: #530000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #530000, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #530000, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #530000, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #530000, #ffffff); /* Standard syntax */
    position: relative; 
    height: 2.5vmax;
}

#title {
    font-size: 2vmax;
    position: absolute;
    height: 97%; 
    background-color: #ffffff;
    width: 100%;
}

#company {
    font-size: 1.3vmax;
    font-style: italic;
    padding: 5px 0px 5px 10px;
}

.job_desc {
    font-size: 1.2vmax;
    border-left: solid 5px #530000;
    list-style-type: none;
}
